html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: Consolas;
  background-color: black;
}

@font-face {
  font-family: "Consolas";
  src: url("fonts/Consolas-Regular.ttf") format("truetype");
}

img {
  display: block;
  margin: 0 auto;
  width: 80%;
}
body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
  background-color: transparent;
}
h3 {
  color: #20c20e;
}

a:hover {
  color: #808080;
}

div {
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}

.everything {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}
.top {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.sub-top {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 2vw;
  background-color: transparent;
}
.sub-top a {
  font-size: 1.5vw;
}
.group1,
.group2 {
  display: flex;
  flex-direction: column;
}
.middle-about {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.logo-container {
  width: 11vw;
  height: 11vw;
  background-image: url("../img/logo.png"); /* The original image */
  background-size: cover; /* Ensures the image fills the area */
  background-position: center;
  transition: background-image 0 ease;
}
.logo-container:hover {
  background-image: url("../img/logo2.png");
}
.logo-active {
  background-image: url("../img/logo-active.png") !important;
}

.header {
  width: 10vw;
  background-color: black;
  display: flex;
  justify-content: center;
}

.header a {
  font-size: 2vw;
  text-align: center;
}
.sub-header {
  display: flex;
  justify-content: center;
  background-color: black;
  margin-bottom: 3vw;
}

.active {
  color: #20c20e !important;
}

.middle {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #20c20e;
}

.content-about {
  font-size: 1.8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #20c20e !important;
  width: 80vw;
}
.smth {
  display: flex;
  justify-content: flex-start;
}

.content-about p,
.xp {
  display: flex;
  justify-content: flex-start;
  font-size: 1.16vw;
}
.middle p {
  color: #20c20e;
  font-size: 1.5vw;
}
.middle h3 {
  font-size: 1.5vw;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30vw;
  border: #20c20e 0.2vw solid;
  border-radius: 2vw;
  padding: 3vw;
  text-align: center;
  margin-bottom: 1vw;
}
.card h3 {
  font-size: 2vw;
}
.card p {
  font-size: 1vw;
}
.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.content-about {
  display: flex;
  flex-direction: column;
  width: 75vw;
  border: #20c20e 0.2vw solid;
  border-radius: 2vw;
  padding: 3vw;
}
.content-about p,
.xp {
  font-size: 1.1vw;
}
.content-about h5 {
  font-size: 3vw;
}
.content-about a {
  color: #20c20e;
  text-decoration: underline;
}
.footer {
  color: #20c20e;
  display: flex;
  justify-content: center;
}
.footer p {
  font-size: 1vw !important;
  padding: 1.5vw;
}
.in0 {
  display: flex;
  flex-direction: column;
}
.in1 {
  display: flex;
  flex-direction: column;
}
.in2 img,
.in1 img {
  width: 24vw;
  margin: 0.5vw;
  border: #20c20e 0.1vw solid;
}

@media (max-width: 1024px) {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: Consolas;
    background-color: black;
  }

  a {
    font-size: 3vw;
  }
  .everything {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    width: 100%;
  }
  .logo-container {
    width: 10vw;
    height: 10vw;
    background-image: url("../img/logo.png"); /* The original image */
    background-size: cover; /* Ensures the image fills the area */
    background-position: center;
    transition: background-image 0 ease;
  }
  .logo-container:hover {
    background-image: url("../img/logo2.png");
  }
  .logo-active {
    background-image: url("../img/logo-active.png") !important;
  }
  .top {
    height: auto;
    /* position: sticky; */
    max-width: 97vw;
    display: flex;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 60vw;
    border: #20c20e 0.2vw solid;
    border-radius: 2vw;
    padding: 3vw;
    text-align: center;
  }
  .card h3 {
    font-size: 4vw;
  }
  .card p {
    font-size: 2vw;
  }
  .header a {
    font-size: 3vw;
    text-align: center;
  }
  .sub-top {
    all: revert;
    width: 0;
    /* position: sticky; */
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: black;
    top: 10vw;
  }
  .sub-header {
    padding: 1vw;
    padding-right: 3vw;
    padding-left: 3vw;
    margin: 0;
  }
  .sub-top a {
    font-size: 3vw;
  }
  .content-about {
    height: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 2vw;
    margin-top: 1vw;
  }
  .middle-about {
    all: revert;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .middle p {
    color: #20c20e;
    font-size: 3vw;
  }
  .group1 {
    all: revert;
    width: 98vw;
    display: flex;
  }
  .content-about p,
  .xp {
    font-size: 3vw;
    text-indent: 2vw;
  }
  .content-about h5 {
    font-size: 3vw;
  }
  .footer {
    color: #20c20e;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
  }
  .footer p {
    font-size: 1.5vw !important;
    padding: 2vw;
  }
  .in0 {
    display: flex;
    flex-direction: column;
  }
  .in1 {
    display: flex !important;
    flex-direction: row;
  }
  .in2 {
    display: flex;
    flex-direction: column;
  }
  .in2 img,
  .in1 img {
    width: 44vw;
    margin: 0.5vw;
    border: #20c20e 0.1vw solid;
  }
}

@media (max-width: 425px) {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: Consolas;
    background-color: black;
  }

  .everything {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
  }
  .sub-header {
    padding: 1vw;
    margin: 0;
  }
  .top {
    /* position: sticky; */
    max-width: 100vw;
    display: flex;
    justify-content: flex-start;
    top: 0;
    width: 100%;
  }
  .header a {
    font-size: 6vw !important ;
  }
  .header {
    padding-left: 6vw;
    padding-right: 4vw;
  }
  .header .contacts {
    margin-left: 10vw;
  }
  .logo-header {
    width: 0 !important;
  }
  .sub-top {
    all: revert;
    /* position: sticky; */
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: black;
    top: 10vw;
  }
  .sub-top a {
    font-size: 5vw;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 70vw;
    border: #20c20e 0.2vw solid;
    border-radius: 2vw;
    padding: 3vw;
    text-align: center;
  }
  .card h3 {
    font-size: 5vw;
  }
  .card p {
    font-size: 3vw;
  }
  .group1 {
    all: revert;
    display: flex;
    justify-content: space-around;
    width: 97vw;
  }
  .middle p {
    color: #20c20e;
    font-size: 6vw;
    text-align: center;
  }
  .content-about p,
  .xp {
    font-size: 4.5vw;
  }
  .content-about h5 {
    font-size: 7vw;
  }
  .header a {
    font-size: 3vw;
    text-align: center;
  }
  .footer {
    color: #20c20e;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
  }
  .footer p {
    font-size: 2vw !important;
    padding: 1vw;
  }
  .in0 {
    display: flex;
    flex-direction: column;
  }
  .in1 {
    display: flex !important;
    flex-direction: column;
  }
  .in2 {
    display: flex;
    flex-direction: column;
  }
  .in2 img,
  .in1 img {
    width: 100%;
    margin: 0.5vw;
    border: #20c20e 0.1vw solid;
  }
}
